body {
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/564x/5e/b2/c5/5eb2c57816b3eb8fa08e9f4335ab6b74.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
#main{
    background-color: #f5e3d7;
    padding: 10px;
    margin: 5;
    text-align: right;
    display: flex;
    justify-content: center;
    
  }
  h1 {
    font-size: 100px;
    position: absolute;
    flex: auto;
    justify-content: center;
  }
  
  nav {
    padding: 10;
    margin: 2px;
    position: absolute;
    display: flex;
    justify-content: right;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    background-color: #00b6c4;
    color: #333;
  }
  
  nav a:hover {
    background-color: #f5e3d7;
  }
  
  #Badgify-Container {
    padding: 20px;
  }
  
  footer {
    padding: 20px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
  }
 .play-btn, .del-btn{
    display: flex;
    justify-content: center;
    width: 70px;
    background-color: #00b6c4;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
 }

 #playlist-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

#postForm {
  margin-top: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  width: 100px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #ccc;
}
a:link {
  text-decoration: none;
}
