body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    background-color: #ccc;
    color: #333;
  }
  
  nav a:hover {
    background-color: #bbb;
  }
  
  #Badgify-Container {
    padding: 20px;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  