body {
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/564x/5e/b2/c5/5eb2c57816b3eb8fa08e9f4335ab6b74.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
  }

header{
  margin-bottom: 100px;
}
  
#main{
    background-color: #f5e3d7;
    padding: 10px;
    margin: 5;
    text-align: right;
    display: flex;
    justify-content: center;
    
  }
  h1 {
    font-size: 120px;
    position: absolute;
    flex: auto;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    white-space: nowrap;
    animation: typing;
    animation-duration: 5s;
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
  }
  @keyframes typing {
    from {width: 0;}
    to {width: 100%;}
    
  }
  h2{
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  h3{
    font-family: Garamond, serif;
    font-size: 20px;
  }
  
  nav {
    padding: 10;
    margin: 2px;
    position: absolute;
    display: flex;
    justify-content: right;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    background-color: #00b6c4;
    color: #333;
  }
  
  nav a:hover {
    background-color: #f5e3d7;
  }
  
  #Badgify-Container {
    padding: 20px;
  }
  
  footer {
    padding: 20px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
  }
 .play-btn, .del-btn{
    display: flex;
    justify-content: center;
    width: 70px;
    background-color: #00b6c4;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
 }
 #playlist-form{
  display: flex;
  justify-content: center;
  margin: 10%;
 }

#songForm {
  width: 400px;
  margin: 20px;
  padding: 20px;
  border: none;
  box-shadow: 0 0 5px 0 ;
  background: inherit;
  backdrop-filter: blur(10px);
}

label {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
}

input {
  width: 95%;
  padding: 10px;
  border: none;
  font-style: italic;
  margin-bottom: 10px;
}

button {
  width: 100px;
  background-color: #7e7979;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #ccc;
}
a:link {
  text-decoration: none;
}
